.list {
  display: flex;
  width: 30%;
}

.list .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border: 1px solid white;
  padding: 0px 10px 10px;
  margin: 20px;
  box-shadow: 1px 5px 10px 8px #888888;
  border-radius: 5px;
}
.img {
  width: 100%;
  border-radius: 5px;
}
